<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <properties>
        <property name="basePath">./src/test/resources/logs</property>
        <property name="pattern">%d{dd-MM-yyyy HH:mm:ss.SSS} | %-5.5p | %-10.10t | %-20.20C:%-5.5L | %msg%n</property>
    </properties>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${basePath}/Application.log"
                     filePattern="${basePath}/logs-%d{dd-MM-yyyy}.log">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="RollingFileError" fileName="${basePath}/error-logs.log"
                     filePattern="${basePath}/logs-%d{dd-MM-yyyy}.log">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileError" level="error"/>
        </Root>
    </Loggers>
</Configuration>